[submodule "evaluations/m2t/playntell"]
	path = evaluations/m2t/playntell
	url = https://github.com/deezer/playntell.git
[submodule "models/t2m/mustango/mustango"]
	path = models/t2m/mustango/mustango
	url = https://github.com/AMAAI-Lab/mustango.git
[submodule "models/t2m/musiclm/open-musiclm"]
	path = models/t2m/musiclm/open-musiclm
	url = https://github.com/zhvng/open-musiclm.git
[submodule "models/m2t/mullama/MU-LLaMA"]
	path = models/m2t/mullama/MU-LLaMA
	url = https://github.com/shansongliu/MU-LLaMA.git
[submodule "models/m2t/mullama/lp-music-caps"]
	path = models/m2t/mullama/lp-music-caps
	url = https://github.com/seungheondoh/lp-music-caps.git
[submodule "models/m2t/lpmusiccaps/lp-music-caps"]
	path = models/m2t/lpmusiccaps/lp-music-caps
	url = https://github.com/seungheondoh/lp-music-caps.git
[submodule "evaluations/t2m/t2m_toolkit/audioldm_eval"]
	path = evaluations/t2m/t2m_toolkit/audioldm_eval
	url = https://github.com/haoheliu/audioldm_eval.git
